* {
    box-sizing: border-box;
}

.main-view {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#e375cb, #78f2dd);
    background: linear-gradient(#e375cb, #78f2dd);
    flex-flow: column;
}

.bg-navColor {
    background: #3a3d47;
}

.container {
    margin: 32px;
}