.genreLayout {
    margin-top: 50px;
    color: black;
}

.genreContainer {
    width: 100%;
    height: 100vh;
}

.name,
.description {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.genres-button-div {
    text-align: center;
    margin: 0 auto;
    width: 200px;
}

.genres-button {
    margin-top: 20px;
    width: 100%;
    background-color: black;
    padding: 32px;
}

.genre-description {
    padding-bottom: 24px;
}