* {
    box-sizing: border-box;
}

.profile-view {
    font-family: 'Roboto', sans-serif;
    background: #3a3d47;
    width: auto;
    height: auto;
    display: inline-block;
    color: white;
    padding-top: 48px;
}

.bg-navColor {
    background: #3a3d47;
}

.container {
    margin: 32px;
}