.moviesContainer {
    background: #3a3d47;
    width: auto;
    height: auto;
    align-content: center;
}

.movie-view {
    margin-top: 50px;
    color: white;
}

.movie-poster {
    text-align: center;
}

.title,
.description,
.genre,
.director,
.actors,
.year {
    color: white;
    font-size: 24px;
    font-weight: 400;
}