    .h1,
    .h2,
    .p {
        font-family: 'Orbitron', sans-serif;
        color: white;
        background-color: #3a3d47;
    }
    
    div.app-container {
        background: linear-gradient(#e375cb, #78f2dd);
        flex-flow: column;
    }
    
    .body {
        background-color: var(--background-dark);
        flex-flow: column;
    }